# Auto detect text files and perform LF normalization
* text=auto

*.shaders linguist-vendored=true
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
*.cginc linguist-vendored=true
